*.class
*.iml
*.jar
.DS_Store
.cpcache
.idea
.nrepl-port
.specljs-timestamp
.env
/checkouts
/classes
/lib
/node_modules
/resources/public/cljs/
/target
hs_err_*.log
package-lock.json
pom.xml
pom.xml.asc
pom.properties
